/* some default base elements and properties */

:root {
  --theme-bg-color: black;
  --section-bg-color: #222;
  --btn-bg-color: black;
  --btn-hover-color: #222;
  --menu-border-color: #333;
  --platform-btn-color: #EECA03;
}

body {
  background-color: #f0f0f0;
  overflow-x: hidden;
}

.web-platform-btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.web-platform-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 70%;
  height: 100%;
  background: linear-gradient(60deg, transparent 10%, rgba(255, 215, 0, 0.5), transparent 98%);
  animation: shimmer 1.4s infinite;
}

@keyframes shimmer {
  100% {
    left: 100%;
  }
}

.auth-btn {
  width: 120px;
  height: 40px;
  font-size: 18px;
  border: 0.01em solid var(--platform-btn-color);
  color: #fff;
  font-weight: 600;
  background-color: transparent;
}

.auth-btn:hover {
  background-color: var(--platform-btn-color);
  color: #222;
}

.lang-btn {
  width: 120px;
  height: 40px;
  font-size: 18px;
  /* border: 1px solid var(--platform-btn-color); */
  color: #fff;
  font-weight: 600;
  background-color: transparent;
}

.lang-btn:hover {
  /* background-color: var(--platform-btn-color); */
  color: #fff;
}

.theme-btn {
  border: 1px solid var(--section-bg-color);
  color: black;
  font-weight: 600;
  background-color: transparent;
  box-shadow: 0px 5px 5px 0px;
}

.theme-btn:hover {
  background-color: var(--btn-hover-color);
  color: white;
}

.platform-btn {
  font-size: 22px;
  width: 200px;
  height: 50px;
  border: 1px solid var(--platform-btn-color);
  color: #fff;
  font-weight: 600;
  background-color: transparent;
}

.platform-btn:hover {
  background-color: var(--platform-btn-color);
  color: #222;
}

.menu-icon {
  color: var(--platform-btn-color);
}

.icon-btn img {
  font-size: 22px;
  width: 100%;
  margin: auto 5%;
}

.btn-icon,
.icons:hover {
  color: var(--platform-btn-color);
}

.theme-btn>.icon {
  font-size: 12px;
}

*.card {
  background-color: transparent;
  border: none;
}

.card-body {
  background-color: #fff;
  border-radius: 5px 5px 5px 5px;
}

.card-header {
  background-color: var(--section-bg-color);
  color: #fff;
}

.marqueeSection {
  background-color: var(--section-bg-color);
  color: #fff;
}


nav {
  background-color: var(--theme-bg-color);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link {
  color: #fff;
  font-size: 18px;
}

.carousel-caption>h5,
.carousel-caption>p {
  display: none;
}


  .myDepositBanner{
    background-color: var(--theme-bg-color);
  }
  .paymentFeesSection{
    background-color: var(--theme-bg-color);
  }
.header-slider {
  background: url("your-slider-image.jpg") no-repeat center center;
  background-size: cover;
  height: 400px;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-slider h1 {
  font-size: 36px;
}

.header-slider p {
  font-size: 18px;
}

.mid-footer {
  background-color: #fff;
  padding: 20px 0;
}

.midFooterCardSection{
  background-color: var(--theme-bg-color);
}
.midFooterCardSection .card {
  height: 100%;
}

.midFooterCardSection .card>.card-header>img {
  width: 20%;
}

.midFooterCardSection .card>.card-body>p {
  text-align: left;
}

.mid-footer strong,
a {
  text-decoration: none;
  font-size: 16px;
}

.mid-footer p {
  text-align: center;
  font-size: 20px;
}

.shortcut-links {
  background-color: var(--theme-bg-color);
  text-align: center;
  padding: 10px 0;
}
.shortcut-links ul{ 
  text-align: center;
  margin-top: -14px;
  padding-left: 0;
}

.shortcut-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
}

.shortcut-links a:hover {
  opacity: 0.6;
}

.shortcut-links .icons {
  font-size: 30px;
}

.shortcut-links ul li {
  list-style-type: none;
  line-height: 20px;
}


.footer {
  background-color: var(--section-bg-color);
  color: #fff;
  text-align: center;
  padding: 10px 0px;
}

.navbar-brand img {
  width: 60%;
}

.box-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
}

.card-header img {
  width: 60%;
}

.loginForm {
  padding: 0px 20px 0px 20px;
}

.dropdown-menu {
  width: 100%;
  background-color: transparent;
  border: none;
}

a .dropdown-item:hover {
  color: #222;
}

.dropdown-data {
  text-align: center;
  background-color: var(--section-bg-color);
}

.dropdown-data strong {
  display: block;
  width: 100%;
  background-color: var(--platform-btn-color);
  font-size: 18px;
  border-bottom: 0.5px solid gray;
  /* margin-left: 20px; */
}

.dropdown-data,
ul {
  padding: 0;
}

.dropdown-data ul li {
  border-bottom: 0.5px solid var(--theme-bg-color);
  font-size: 18px;
  text-align: center;
  list-style: none;
  line-height: 36px;
}

.dropdown-data ul li a {
  text-decoration: none;
  color: #fff;
}

.dropdown-data ul li a:hover {
  color: var(--platform-btn-color);
}

.chartSection {
  background-color: #fff;
  border: 0.5px solid gray;
  height: 480px;
}

.sentimentSection {
  background-color: #fff;
  border: 0.5px solid gray;
  height: 480px;
}

.technical {
  background-color: #fff;
  border: 0.5px solid gray;
  height: 480px;
}

.technical h4 {
  border-bottom: 0.5px solid gray;
  padding-bottom: 10px;
}

.newsSection {
  background-color: #fff;
  border: 0.5px solid gray;
  height: 480px;
}

.technical ul li {
  border-bottom: 0.5px solid rgb(0, 0, 0, 0.2);
}

.forex-market {
  text-align: justify;
  font-size: 22px;
}

.platform-slogan {
  background-color: var(--theme-bg-color);
}

.platform-slogan h2 {
  color: #fff;
  margin: 10% 10%;
}

.platform-slogan #weblink {
  margin: 10% 30%;
}

.platform-slogan button {
  margin: 6% 30%;
}

.platform-slogan a {
  margin: 10% 1%;
}

.platform-slogan .icons {
  margin: 30% 5%;
  font-size: 40px;
}

.payments img {
  width: 80%;
}

.payments strong {
  color: var(--platform-btn-color);
}

.security-slogan-text {
  position: absolute;
  top: 30%;
  left: 5%;
}

.security-page h1 {
  margin: 5% 20%;
}

.security-page p {
  margin: 5% 20%;
}
.boardCard{
  background-color: var(--menu-border-color);
  padding: 5px; 
  max-height:100%;  
}
.boardCard-body ol li{
  list-style: none;
  color: #fff;
  cursor: pointer;
 border-bottom: 0.1em solid black; 
 padding: 5px;
}
.boardCard-body ul{ 
 border-bottom: 0.1em solid black; 
 padding-left: 5px;
}
.lessonsList ul{ 
 /* border-bottom: 0.1em solid black;  */
 padding-left: 5px;
}
.boardCard ul li{
  list-style: none;
  border:none;
  line-height: 16px;
}
.boardCard ul li a{
color:#fff;
margin-left:20px;
}
.boardCard ul li a:hover{
color:var(--platform-btn-color);
}
.boardCard-header{
  width: 100%;
  background-color: var(--btn-hover-color);
  padding: 10px;
  color:var(--platform-btn-color);
  text-align: center;
}
.contentBox{ 
  background-color: #E4E5F1;
}
.contentBox p{
  padding: 5px 5x 5px 5px; 
}
.contentBox:hover{
  cursor: pointer;
  /* background-color: #FAFAFA; */
  background-color: #D2D3DB;
}
.content-box .section {
  display: none;
}

.content-box .section.active {
  display: block;
}
.highlighted {
  background-color:black;
}
